# IDE
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
.venv_blog/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# mypy / pytype / pyre
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/
cython_debug/

# Project-specific
old_files/
