# Python 3.10+
Bootstrap-Flask==2.2.0
email-validator==2.1.0.post1
Flask==2.3.2
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv>=1.0.0
SQLAlchemy==2.0.25
Werkzeug==3.0.0
WTForms==3.0.1
