<!--
Project: Blog From Day 69
File: edit-comment.html
Description: Edit-comment form template for updating a user's comment.
-->
<!-- Shared site header and navigation -->
{% include "header.html" %}
<!-- Import Bootstrap form renderer macro -->
{% from "bootstrap5/form.html" import render_form %}

<!-- Edit comment hero header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Edit Comment</h1>
          <span class="subheading">Update your comment below.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Edit comment form -->
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"})
        }}
      </div>
    </div>
  </div>
</main>

<!-- Shared site footer -->
{% include "footer.html" %}
