<!--
Project: Blog From Day 69
File: make-post.html
Description: Create/edit post form template.
-->

<!-- Import Bootstrap form renderer macro -->
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
<!-- Shared site header and navigation -->
{% include "header.html" %}

<!-- New or edit post hero header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit Post</h1>
          {% else: %}
          <h1>New Post</h1>
          {% endif %}
          <span class="subheading"
            >You're going to make a great blog post!</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post editor form with CKEditor -->
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Load CKEditor assets and configuration -->
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        <!-- Render the post creation or edit form -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"})
        }}
      </div>
    </div>
  </div>
</main>
<!-- Shared site footer -->
{% include "footer.html" %}
{% endblock %}
